{% extends "APUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Password Resetting - {{ parent() }}{% endblock %}
{% block fos_user_content %}
    {% block header %}
        {% include('APPlatformBundle:Common:header.html.twig') with { active :'test'} %}
    {% endblock %}
    {% block content %}
        <p class="marginTop100px textAlignCenter">{{ 'resetting.password_already_requested'|trans }}</p>
    {% endblock %}
{% endblock %}
